
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Short Codes</title>
    <link href="~/Indexcss/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">

    <link href="~/Indexcss/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <script src="~/Indexcss/js/jquery-1.11.0.min.js"></script>
    <script src="~/Indexcss/js/bootstrap.min.js"></script>

</head>
<body>
    <!--header-top start here-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-8 logo">
                    <h1><a href="index.html">同心花坊</a></h1>
                </div>
                <div class="col-md-4 top-social">
                    <ul>
                        <li><a href="#"><span class="fb"> </span></a></li>
                        <li><a href="#"><span class="tw"> </span></a></li>
                        <li><a href="#"><span class="in"> </span></a></li>
                        <li><a href="#"><span class="gmail"> </span></a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--header-top end here-->
    <!--header start here-->
    <!-- NAVBAR
        ================================================== -->
    <div class="header w3l">
        <div class="fixed-header">
            <div class="navbar-wrapper">
                <div class="container">
                    <nav class="navbar navbar-inverse navbar-static-top">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <nav class="cl-effect-3" id="cl-effect-3">
                                <ul class="nav navbar-nav">
                                    <li><a href="http://localhost:59465/Default/Index">首页</a></li>
                                    <li><a href="http://localhost:59465/Default/Tian">上架鲜花</a></li>
                                    <li><a class="active" href="http://localhost:59465/Default/Select">订单列表</a></li>
                                    <li><a href="gallery.html">统计订单金额</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>

                        </div>
                        <div class="head-search">
                            <form action="#" method="post">
                                <input type="text" placeholder="Search..." name="Search..." required="">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </nav>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--header end here-->
    <!--banner  start hwew-->
    <div class="banner1">
        <div class="container">
            <div class="banner-main1">
                <ul>
                    <li><h6><a href="index.html"></a> </h6></li>
                    <li><h6>送给你最爱的人</h6></li>
                </ul>
            </div>
        </div>
    </div>
    <!--BANNER END HERE-->
    <!--short codes start here-->
    <div class="typrography">
        <div class="container">
            <div class="page">
         
                <div class="bs-example" data-example-id="contextual-table" style="border: 1px solid #eee">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <th scope="row">1</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="success">
                                <th scope="row">3</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="info">
                                <th scope="row">5</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="warning">
                                <th scope="row">7</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="danger">
                                <th scope="row">9</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              
                </div>
                <!--//forms-->
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer-wthree">
        
            </div>
            <div class="copy">
                <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
    <!--footer end here-->
</body>
</html>



